.App {
  display: flex;
  justify-content: center;
}

.Logo {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

body {
  background-color: #f7c742;
}
